collections:
    authors:
        output: true

title: Bitigçi

description: Blog about programming and languages, as well as resources on how to type Old Turkic on modern systems.

author:
    name: Emir Sarı

permalink: date

social-network-links:
    rss: true
    twitter: bitigchi
    github: bitigchi

defaults:
    - scope:
        path: ""
        type: "authors"
      values:
        layout: "author"
    - scope:
        path: ""
        type: "posts"
      values:
        layout: "post"
    - scope:
        path: ""
      values:
        layout: "default"

plugins:
    - jekyll-feed
    - jekyll-sitemap
    - jekyll-seo-tag
